<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
